@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: #07070A;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background)
}

.no-drag {
  -webkit-user-drag: none;
  user-select: none;
}

.scrollbar-style {
  scrollbar-width: thin; 
  scrollbar-color: #4A5568 #2D3748; 
}

.scrollbar-style::-webkit-scrollbar {
  width: 12px; 
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background-color: #4A5568; 
}

.scrollbar-style::-webkit-scrollbar-track {
  background-color: #2D3748; 
}

body {
  scrollbar-width: thin;
  scrollbar-color: #4A5568 #2D3748;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4A5568;
}

body::-webkit-scrollbar-track {
  background-color: #2D3748;
}

input[type="number"] {
  -moz-appearance: textfield; 
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -webkit-appearance: textfield;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotation {
  animation: rotate 100s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mask-container {
  width: 100px;
  height: 98px;
  background: linear-gradient(90deg, #4338CA, #6962B6, #6154FF);
  background-size: 400% 100%;
  animation: gradientAnimation 8s linear infinite;
  mask-image: url('/mauricio.svg');
  mask-size: cover;
  mask-repeat: no-repeat;
}